<!-- fragment containing all inputs for form - used then in create and edit - validates user input, displaying errors as necessary -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/template :: head}"></div>
    <title>tea form</title>
</head>

<body>
    <div th:fragment="form">
        <!-- tea name -->
        <div class="mb-3">
            <label class="form-label" for="name">Tea Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter tea name" th:field="*{name}"
                th:errorClass="is-invalid">
            <!-- th:field="*{name}" binds this input to the name property of the form-backing object (passed from the controller as ${tea} in create or edit) -->
            <!-- h:errorClass="is-invalid" adds the is-invalid CSS class if there’s a validation error -->
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <!-- checks if validation errors exist for name ^^ then loops through errors for this field and displays them -->
                <ul>
                    <li th:each="error : ${#fields.errors('name')}" th:text=${error}></li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <!-- tea category -->
            <div class="mb-3">
                <label class="form-label" for="category">Category</label>
                <select class="form-select" id="category" th:field="*{category.id}">
                    <option th:value="1">White Tea</option>
                    <option th:value="2">Green Tea</option>
                    <option th:value="3">Oolong Tea</option>
                    <option th:value="4">Black Tea</option>
                    <option th:value="5">Herbal Tea</option>
                    <option th:value="6">Rooibis Tea</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('category')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <!-- caffeinated? -->
            <div class="mb-3">
                <label class="form-label" for="caffeinated">Caffeinated</label>
                <select class="form-select" id="caffeinated" th:field="*{caffeinated}">
                    <option th:value="true">Yes</option>
                    <option th:value="false">No</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('caffeinated')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('caffeinated')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <!-- price -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input type="number" step="0.01" class="form-control" id="price" placeholder="€" th:field="*{price}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('price')}" th:text=${error}></li>
                    </ul>
                </div>
            </div>

            <!-- stock -->
            <div class="mb-3">
                <label class="form-label" for="stock">Stock</label>
                <select class="form-select" id="stock" th:field="*{stock}">
                    <option th:each="i : ${#numbers.sequence(0,100)}" th:value="${i}" th:text="${i}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('stock')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('stock')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- description -->
        <div class="mb-3">
            <label class="form-label" for="description">Tea description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Enter description"
                th:field="*{description}" th:errorClass="is-invalid"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="error : ${#fields.errors('description')}" th:text=${error}></li>
                </ul>
            </div>
        </div>

        <!-- photo link -->
        <div class="mb-3">
            <label class="form-label" for="photoUrl">Photo Link</label>
            <input type="text" class="form-control" id="photoUrl" placeholder="Enter url" th:field="*{photoUrl}"
                th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('photoUrl')}">
                <ul>
                    <li th:each="error : ${#fields.errors('photoUrl')}" th:text=${error}></li>
                </ul>
            </div>
        </div>




        <!-- buttons -->
        <div class="mb-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" value="add new tea">Submit</button>
            <!-- sends as post request -->
            <button type="reset" class="btn btn-warning" value="reset all fields">Reset</button>
        </div>
    </div>

    <!-- bootstrap -->
    <div th:replace="~{template :: js}"></div>
</body>

</html>